.movie-banner-card {
  text-align: center;
  position: relative;
  border-radius: var(--border-radius-l) var(--border-radius-l) 0 0;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: inherit;
    border: var(--border-width-s) solid var(--color-black-15);
    /* Применяем маску, чтобы низ рамки уходил в прозрачность */
    -webkit-mask-image: linear-gradient(to bottom, #000 85%, transparent 100%);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-image: linear-gradient(to bottom, #000 85%, transparent 100%);
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
    pointer-events: none;
  }

  &__image {
    inline-size: 100%;
    min-block-size: fluid(835, 468);
    object-fit: cover;
    object-position: center;
    //aspect-ratio: 1594 / 835;
  }

  &__inner {
    @include abs-cover;

    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    z-index: 100;
    padding: fluid-to-laptop(126, 104) fluid(50, 24);
    row-gap: fluid(30, 20);
    background: linear-gradient(0deg, var(--color-black-08) 0%, rgba(20, 20, 20, 0.00) 100%);

    @include mobile {
      padding-block-end: 16px;
    }

    &--small-padding-y {
      padding-block: fluid-to-laptop(20, 16);
    }
  }

  &__description {
    margin-block-start: fluid-to-laptop(4, 2);
    max-inline-size: fluid-to-laptop(1254, 960);
  }

  &__footer {
    display: inline-flex;
    align-items: center;
    gap: 20px;

    @include mobile {
      flex-direction: column;
      inline-size: 100%;
    }
  }

  &__play-button {
    @include mobile-s {
      inline-size: 100%;
    }
  }

  &__actions {
    display: flex;
    column-gap: fluid-to-laptop(10, 8);
  }
}