.slider {
  position: relative;

  &--beyond-the-viewport-on-mobile-s {
    @include mobile-s {
      inline-size: calc(100% + var(--container-padding-x));
    }
  }

  &__scrollbar {
    @include abs-x;

    top: calc(100% + 24px);
    inline-size: 80px;
    block-size: 5px;
    border-radius: 20px;
    background-color: var(--color-black-20);

    &-drag {
      block-size: 5px;
      border-radius: 20px;
      background-color: var(--color-red-45);
    }
  }
}